.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin: 5px 0px;

}
.form input, select {
  outline: none;
  padding: 5px 10px;
}
.btn {
  outline: none;
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid #ccc; 
}

.btn:hover {
  cursor: pointer;
}

@media  screen and (max-width:767px) {
  .form {
    wid
  }
}